/*----------------- Colors Variable -----------------*/
$header-color :#576067;
$footer-color :#444f55;

/*---------- Primary Buttons and Liks ---------*/
$btn-primary : #f87d6c;
$btn-primary-hover : #f16d5b;
$btn-second-primary : #1f9dd7;
$btn-second-primary-hover : #1c8dc1;
$link-color :#008ed0;
$footer-link :#ececec;

/*---------- White and Black Shades ---------*/
$color-white: #fff;
$grey-light: #b1b1b2;
$grey-light2 : #f4f5f7;
$grey-light3 : #9f9f9f;

$color-black: #000;
$grey-dark: #333;
$grey-dark2: #555;

/*---------- Light Blue and Dark Shades ---------*/
$color-light-blue :#f0f3f6;
$color-light-blue2 :#767c92;
$color-light-blue3 :#959fb2;
$color-light-blue4 :#f1f7fb;
$color-light-blue5 :#cfe5f1;
$color-light-blue6 :#e8f5fb;


$color-blue : #8aacbe;
$color-blue2 : #868b96;

/*---------- Table ---------*/
$table-border : #d9dfea;
$table-title-color : #8aacbe;
$title-border : #dfe5e8;
$border-grey: #d0d3dc;

/*---------- Icons ---------*/
$icon-color : #b8c4d1;
$icon-color2 : #a1aebc;

/*---------- Forms ---------*/
$form-select-color :#76787c;
$form-select-border :#b8c4d1;
$input-border: #d1e3ec;
$calendar-color: #8aacbe;
$check-border: #a9b1be;
$check-border-disabled: #e6eaf1;
$check-arrow-disabled: #ccd1db;


/*---------- other colos ---------*/
$line-break :#e0e5e9;
$pagination-color : #b1b1b2;
$copy-right : #c2c2c2;
