
/*----------------- HEADER SECTION -----------------*/
header {
  background-color: $header-color;
  min-height:64px;
  .logo-left {
    float:left;
    margin-top:18px;
  }
  .logo-right {
    float:right;
    margin-top:7px;
  }
}
